body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Sawarabi Mincho', serif;
  color: #23231B;
  background: #C0C9CD;
}

#header {
  background: url('./images/banner.jpg');
  background-size: cover;
  margin-top: 0;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
}

#header h1, #header h4 {
  margin: 16px;
  max-width: 500px;
  background: #203F4D;
  color: #C0C9CD;
  padding: 16px;
  border-radius: 10px;
  border: 2px solid #C0C9CD;;
}

#main {
  display: flex;
  flex-direction: column;
  padding: 16px;
  
}

#container {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  margin-top: 24px;
}

#container img {
  border-radius: 50%;
  height: 200px;
  width: 300px;
  border: 2px solid #23231B;
}

.activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}

#guide-card {
  display: flex;
  border: 2px solid #23231B;
  border-radius: 10px;
  width: 600px;
  margin: 50px auto;
  padding: 24px;
  background: #5D7B8A;
}

#guide-card img {
  border: 2px solid #23231B;
  border-radius: 10px;
}

